<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <div class="card no-b d-xl-inline-block">
      <div class="card-body no-b text-center">
        <ul class="d-inline-block">
          <li class="text-left"><span class="adafri-police-14 text-break">Nous vous prions de lire les conditions générales avec une attention particulière car l’utilisation de adafri.com suppose leur acceptation entière et sans réserve.</span></li>
          <br>
          <li class="text-left"><span class="adafri-police-14 text-break">adafri.com est un contenu hébergé sur Internet et exploité par notre société, société à responsabilités limités de droit senegalais, immatriculée au registre de commerce de Dakar sous le numéro SN DKR 2019 B 18059 et dont le siège social est situé à Dakar.</span></li>
          <br>
          <li class="text-left"><span class="adafri-police-14 text-break">Les présentes conditions générales de vente des produits/services constituent des clauses contractuelles applicables à tout achat par tout utilisateur sur le site Web.
</span></li>
          <br>
        </ul>
        
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <div class="card no-b d-inline-block white text-center">
      <div class="card-header no-b white text-center">
        <span class="adafri-police-28 font-weight-bold">Introduction</span>
      </div>
      <div class="card-body no-b white">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="text-left"><span class="adafri-police-14 text-break">L’utilisation de adafri.com est soumise à l'acceptation pleine et sans réserve de toutes les conditions ci-après et de toutes les conditions affichées sur le site Web.
</span></li>
<br>
              <li class="text-left"><span class="adafri-police-14 text-break">Toute utilisation des Services aussi bien par l’utilisateur emporte de plein droit l’application des présentes CGU.
</span></li>
<br>
              <li class="text-left"><span class="adafri-police-14 text-break">adafri.com se réserve le droit de supprimer un utilisateur, considérant qu’il n’a pas respecté les CGU, sans le lui notifier.
</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
   <div class="col-md-12 text-center">
    <div class="card no-b d-inline-block white text-center">
      <div class="card-header no-b white text-center">
        <span class="adafri-police-28 font-weight-bold">Conditions Générale d'utilisation</span>
      </div>
      <div class="card-body no-b white">
        <div class="row">
          <div class="col-md-12">
            <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Interprétation des termes

</span></li>
<br>
              <li class="text-left"><span class="adafri-police-14 text-break">Les conditions présentes s'appliquent à la fois au singulier et au pluriel. Chaque fois que le contexte peut l’exiger, tout pronom doit inclure le masculin et le féminin correspondant. Les termes «notamment», «comprend» et «y compris» est réputée être suivie par l'expression «sans limitation». Sauf si le contexte ne s'y oppose, les termes «aux présentes», «des présentes», «aux présentes», «ci-après" et les termes au sens similaire se référent aux conditions dans son ensemble.

</span></li>
             
            </ul>

            <br>
            <br>
            <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Divisibilité

</span></li>

              <li class="text-left"><span class="adafri-police-14 text-break">Si une disposition des conditions est jugée invalide ou inapplicable en tout ou en partie, cette invalidité ou inapplicabilité ne s'attache qu'à une disposition ou partie d'une disposition. Toutes les autres dispositions des présentes Conditions restent valables.


</span></li>
             
            </ul>
             <br>
            <br>
            <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Utilisation du site Web :


</span></li>
<br>
              <li class="text-left"><span class="adafri-police-14 text-break">Lors de la procédure d'inscription au site Web. vous créez un mot de passe et un nom de compte à défaut d’une inscription directe par les réseaux sociaux.
Vous êtes responsable du maintien de la confidentialité de votre compte, et êtes entièrement responsable de toutes les activités liées à votre compte.
À cette fin, vous vous engagez à :



</span></li>
<ol>
 <li class="text-left"><span class="adafri-police-14 text-break">1. aviser immédiatement adafri.com de toute utilisation frauduleuse de votre compte ou de toute autre violation de sécurité
</span></li>
 <li class="text-left"><span class="adafri-police-14 text-break">2. vous assurer que vous quittez votre compte à la fin de chaque session d’utilisation.

</span></li>
</ol>
             
            </ul>
            <br>
            <br>
            <ul class="float-left">
            
              <li class="text-left"><span class="adafri-police-14 text-break">Vous acceptez et vous engagez à utiliser le site Web uniquement pour afficher et remonter des données appropriées. A titre d'exemple, vous acceptez et vous vous engagez à ne pas:




</span></li>
<ol>
 <li class="text-left"><span class="adafri-police-14 text-break">1. diffamer, abuser, harceler, traquer, menacer ou violer les droits individuels;

</span></li>
 <li class="text-left"><span class="adafri-police-14 text-break">2. publier, afficher, télécharger, distribuer ou disséminer tout sujet inapproprié, vulgaire, diffamatoire, obscène, indécent ou illégal, nom, élément ou information personnels;


</span></li>
<li class="text-left"><span class="adafri-police-14 text-break">
3. télécharger des fichiers qui contiennent des logiciels ou autres éléments protégés par les lois de propriété intellectuelle, sauf si vous possédez ou contrôlez les droits afférents ou ayez reçu tous les consentements nécessaires pour cela;


</span></li>
<li class="text-left"><span class="adafri-police-14 text-break">

4. télécharger ou distribuer des fichiers qui contiennent des virus, des fichiers corrompus ou tout autre logiciel ou programme similaire pouvant endommager le fonctionnement du site Web ou un ordinateur;

</span></li>
<li class="text-left"><span class="adafri-police-14 text-break">
5. mener des enquêtes ou à terme, des concours, des programmes effets « boule de neige»,


</span></li>
<li class="text-left"><span class="adafri-police-14 text-break">

6. télécharger un fichier publié par un autre utilisateur d'un service que vous savez, ou devriez raisonnablement savoir, ne peut pas être légalement distribué de cette manière;

</span></li>
<li class="text-left"><span class="adafri-police-14 text-break">
7. falsifier ou supprimer toute mention d'auteur, des avis juridiques ou autres appropriés ou des désignations ou étiquettes exclusives concernant l'origine ou la source d'un logiciel ou autre matériel contenu dans un fichier qui est téléchargé;


</span></li>
<li class="text-left"><span class="adafri-police-14 text-break">

8. violer tout code de conduite ou autres directives, qui peuvent être applicables pour ou à un service particulier;

</span></li>
<li class="text-left"><span class="adafri-police-14 text-break">
9. transgresser les lois ou règlements applicables pour le moment en vigueur dans ou en dehors de votre pays de navigation.


</span></li>
<li class="text-left"><span class="adafri-police-14 text-break">
10. Une atteinte à aucun des termes et conditions du présent Accord ou tous autres termes et conditions d'utilisation du site Web contient par ailleurs ici.


</span></li>
<br>

<li class="text-left"><span class="adafri-police-14 text-break">

L'utilisateur accepte et s'engage à ne pas modifier, copier, distribuer, transmettre, afficher, exécuter, reproduire, publier, donner licence, créer des œuvres dérivées, transférer ou vendre toute information ou logiciel obtenu à partir du site Web. La reproduction illimitée ou massive, la copie du contenu à des fins commerciales ou non commerciales, ou la modification injustifiée de données et d'informations contenus sur le site Web n'est pas autorisée.

</span></li>
</ol>
             
            </ul>
            <br>
            <br>
             <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Responsabilité de l’utilisateur :


</span></li>

              <li class="text-left"><span class="adafri-police-14 text-break">Les utilisateurs sont seuls responsables de tous les éléments du contenu téléchargé sur le site Web. adafri.com  ne vérifie pas, ne cautionne pas et ne se porte pas garant du contenu de l’utilisateur ou généralement de tout contenu affiché sur le site Web Internet. 
Les utilisateurs peuvent être tenus légalement responsables de leurs contenus, en particulier, lorsqu’ils sont diffamatoires ou protégés par droit d'auteur etc. Si vous rencontrez un abus ou êtes témoin d’une violation des Conditions, merci de rapporter ce dernier au Service Client par email au contact@adafri.com  .


</span></li>
             
            </ul>

            <br>
            <br>
             <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Exactitude des données utilisateur :



</span></li>

              <li class="text-left"><span class="adafri-police-14 text-break">Vous certifiez que vous êtes le propriétaire du contenu que vous nous soumettez et que le contenu ne porte pas atteinte aux droits de propriété intellectuelle ou autres droits.


</span></li>
             <br>
             <li class="text-left"><span class="adafri-police-14 text-break">Vous certifiez également que, à votre connaissance, aucune action, poursuite, procédure, ou enquête n’a été engagée ou menacée à votre encontre à propos du contenu que vous soumettez, en particulier lorsqu’il s’agit d’une marque ou d’un nom commercial. Vous vous engagez à fournir des informations exactes quant à ses coordonnées personnelles ainsi que toute autre information nécessaire à l'accès aux Services du Site Web et à mettre à jour régulièrement ces informations si nécessaires, ces informations étant protégées conformément à la réglementation applicable.



</span></li>
             
            </ul>

            <br>
            <br>
             <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Propriété intellectuelle :



</span></li>

              <li class="text-left"><ol>
 <li class="text-left"><span class="adafri-police-14 text-break">1. Sauf indication contraire, adafri.com possède, sans limite, tous les droits de propriété intellectuelle sur le contenu du site Web, tels que le code source, les bases de données, les textes, les images etc. Vous reconnaissez et acceptez que vous ne devez pas utiliser, de reproduire ou de distribuer tout contenu du Site Web appartenant à adafri.com sans notre autorisation.

</span></li>
 <li class="text-left"><span class="adafri-police-14 text-break">2. Vous êtes tenu seul responsable pour tout contenu que vous fournissez ou télécharger depuis le site Web.


</span></li>
</ol></li>
             <br>
         
             
            </ul>

            <br>
            <br>
             <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Résiliation




</span></li>

 
 <li class="text-left"><span class="adafri-police-14 text-break">adafri.com peut suspendre ou résilier votre compte ou de tout élément si elle estime que vous n’avez pas respecté l'une des présentes conditions.


</span></li>


             <br>
         
             
            </ul>
            <br>
            <br>
            <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Droit applicable :




</span></li>

 
 <li class="text-left"><span class="adafri-police-14 text-break">Ces conditions sont régies en conformité avec les lois du pays d’exploitation.



</span></li>


             <br>
         
             
            </ul>
            <br>
            <br>
            <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Modification :





</span></li>

 
 <li class="text-left"><span class="adafri-police-14 text-break">Cette politique de confidentialité peut changer à tout moment à inclure / exclure des clauses personne l'utilisateur final accédant au site Web.

</span></li>
<br>
 <li class="text-left"><span class="adafri-police-14 text-break">La protection des données de votre vie privée est un principe important pour nous. Nous recueillons des renseignements à des fins nécessaires à la bonne utilisation du site Web.

</span></li>
<br>
 <li class="text-left"><span class="adafri-police-14 text-break">
   En soumettant des données à adafri.com, vous consentez à notre utilisation de vos données de la manière prévue dans la présente politique de confidentialité.

</span></li>


             <br>
         
             
            </ul>

            <br>
            <br>
             <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Récupération des données utilisateur :
</span></li>

 
 <li class="text-left"><span class="adafri-police-14 text-break">Nous collectons, stockons et traitons vos données pour permettre la bonne utilisation du site Web. 
Nous pouvons recueillir des informations sur le formulaire d’inscription tel que votre nom, sexe, adresse Email, adresse postale, adresse de livraison (si différente), numéro de téléphone, numéro de téléphone mobile, détails de paiement, carte bancaire ou de coordonnées bancaires.

</span></li>

         
             
            </ul>
            <br>
            <br>
                 <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Cookies

</span></li>

 
 <li class="text-left"><span class="adafri-police-14 text-break">L'acceptation des cookies n'est pas nécessaire pour visiter le site Web. Cependant, nous voudrions souligner que pour assurer la bonne utilisation du site Web les cookies sont nécessaires. Les cookies sont des fichiers texte qui servent à identifier votre ordinateur lorsque vous visitez certaines pages sur le site Web et ils sont stockés par votre navigateur Internet sur le disque dur de votre ordinateur. 
Les cookies peuvent être utilisés pour reconnaître votre adresse de protocole Internet, vous permet d'économiser du temps lorsque vous revenez sur le site Web. 
Votre navigateur peut être configuré pour ne pas accepter les cookies, mais cela peut restreindre votre utilisation de adafri.com. 


</span></li>
<br>
<li class="text-left"><span class="adafri-police-14 text-break">
Notre site Web utilise des services de reciblage à travers lesquels des données sont collectées et stockées à des fins de marketing et d'optimisation des données



</span></li>

         
             
            </ul>
            <br>
            <br>
            <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Accès aux données utilisateur :

</span></li>

 
 <li class="text-left"><span class="adafri-police-14 text-break">Vous pouvez accéder à vos principales données en vous connectant à votre compte sur le site Web. 



</span></li>
             
            </ul>
                <br>
            <br>
            <ul class="float-left">
              <li class="text-left"><span class="adafri-police-24 adafri">Modification :

</span></li>

 
 <li class="text-left"><span class="adafri-police-14 text-break">Cette politique de confidentialité peut changer à tout moment par exemples en incluant ou excluant des clauses.



</span></li>
             
            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
