@import url("https://fonts.googleapis.com/css?family=Amaranth|Dancing+Script");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: white;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, white, white);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, white, white);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*font-family: 'Dancing Script', cursive;*/
}

.div-top {
    margin-top: 10px;
    width: 100%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
}

.carousel-control-prev {
    color: black ! important;
}

.carousel-control-prev {
    color: black !important;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: black;
    position: absolute;
    height: 10px !important;
    width: 0% !important;
}

.next {
    position: absolute;
    right: 5em;
    margin-right: -20px;
    color: black;
    font-size: 40px !important;
    width: 0% !important;
    height: 10px !important;
}

.prev {
    position: absolute;
    margin-left: 400px !important;
    margin-top: 2px;
    font-size: 40px !important;
    color: black;
    width: 0% !important;
    height: 10px !important;
}

.heading {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: 'Amaranth', sans-serif;
}

.card1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 20px 0;
    margin-top: 150px;
    border: none
}

.card__item {
    width: 29%;
    margin: 10px 20px;
    border: none;
}

.card__item-title {
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
}

.atvImg {
    /**border-radius: 5px;**/
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 350px;
    display: inline-block;
    border: none;
}

.atvImg img {
    /**border-radius: 5px;**/
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.atvImg-rendered-layer {
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
}

.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
}


.form-infos {
    margin-top: 0px;
    margin-left: 70px;
}

.btn-milieu {
    margin-top: 15px !important;
    background-color: transparent;
    height: 50px;
}




#H5 {
    margin-top: -50px;
    color: black;
}

#btn-visualiser {
    margin-right: 120px;
    width: 150px;
}

#group-btn {
    position: relative;
    max-width: 400px;
    height: 250px;
    width: 400px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;


}

.btn-item {
    margin-top: 100px
}

.alert-info {
    color: #0c5460;
    background-color: rgba(255, 255, 255, .4);
    margin-top: 270px !important;
    width: 200px !important;
}

.btn-item1 {
    margin-left: 20px;
    margin-top: -110px !important;
    background-color: white;
    border-radius: 20px;
    color: #09548a;
    font-size: 12px;
    height: 33px;
    border-color: #09548a !important;

}

#swal2-title {
    font-size: 14px !important;
}

.btn--item1 {
    margin-left: 20px;
    margin-top: -110px !important;
    background-color: white;
    border-radius: 20px;
    color: #09548a;
    font-size: 12px;
    height: 33px;
    border-color: #09548a !important;

}

.img-photo {
    margin-left: -5px;
    margin-top: -100px !important;


}

#photo-text {
    color: #09548a;
    margin-top: 3px
}

.btn-item2 {
    margin-right: 5px
}

.carousel-item {
    position: relative;
    height: auto;
}

#down {
    border-radius: 5px;
    margin-top: 18px !important;
    margin-left: -10px;
    height: 45px;
    width: 130px;
    display: flex;

}

#seneweb {
    width: 25%;
    margin-top: 130px;
    position: absolute;
    margin-left: 350px;

}

#text-cout {
    color: #09548a;
    font-size: 14px;
    font-weight: bold;
    margin-top: 160px;
    position: absolute;
    margin-left: 130px;

}

.sp-replacer {
    position: absolute;
    margin-left: 35px !important;

}

#icon-publier {
    margin-left: -45px;
    position: absolute;
}

#senego {
    margin-top: 170px;
    margin-left: 350px;
    position: absolute;
    width: 20%;
    border-radius: 20px;
}

#down1 {
    margin-top: 100px;
    background-color: #09548a;
    border-radius: 20px;
    width: 120px;
}

.modal-footer {}

#logo {
    max-width: 7%;
    margin-left: -30%;
    margin-top: 5px;
    margin-left: 480px !important;
    /* 50% of your logo width */


}

.drag {
    margin-left: 10px;
    margin-top: 10px;
}

.drag1 {
    margin-left: 0px;
    margin-top: 50px;
    width: 130px;
    position: absolute;
}

.notifyjs-container {}




#ic-num {
    position: absolute
}

#num {
    word-wrap: normal;
    margin-left: 25px;
}

#mynav {
    position: relative;
    height: 80px;
    box-align: center;
    background-color: transparent !important
        /*background-color: rgba(10, 1, 1, 0.578) !important;*/
}

#text-img {
    color: #09548a;
    font-size: 14px;
    word-wrap: break-word;
    width: 200px;
    height: 20px;
    position: absolute;
    margin-top: -80px;
    margin-left: -20px;
}


.sauvegarder {
    text-align: center;
    margin-left: 0px;
    width: 120px
}


#btn-download {
    margin-top: 85%;

}

.page {
    display: none;
}

#publier {
    margin-top: 65%;
    margin-left: 10%;

}

.banner-image {
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 4px;
    margin-top: 5px;

}

#p1 {
    margin-top: -10px;
    margin-bottom: 1rem;
    position: absolute;
    margin-left: 0px;
    width: 247px;
    margin-left: 0px;
    font-size: 12px;
}

#p2 {
    margin-top: -11px;
    margin-bottom: 1rem;
    position: absolute;
    margin-left: 0px;
    width: 245px;
    margin-left: 0px;
    font-size: 12px;
}

#p3 {
    margin-top: -8px;
    margin-bottom: 1rem;
    position: absolute;
    margin-left: 0px;
    width: 252px;
    margin-left: -1px;
    font-size: 13px;
}


#icon1 {
    margin-top: -10px;
    margin-left: 5px;
    position: absolute;
}

#icon2 {
    margin-top: -10px;
    margin-left: 5px;
    position: absolute;
}

#icon3 {
    margin-top: 10px;
    margin-left: 5px;
    position: absolute;
}

.btn_download {
    height: 32px;
    background-color: white !important;
    border-radius: 20px !important;

}

.btn_download1 {
    margin-left: 25px;
    margin-top: 62px;
    width: 238px;
    height: 29px;
    top: 17px;
}

.btn_download2 {
    margin-left: 25px;
    margin-top: 8px;
    width: 238px;
    height: 29px;
    top: 17px;
}

.btn_download3 {
    margin-left: 25px;
    margin-top: 8px;
    width: 238px;
    height: 29px;
    top: 17px;
}

.btn-insert {
    background-color: #09548a;
    width: 100px;
    height: 50px;
}

.start-card {

    position: relative;
    max-width: 270px;
    width: 270px;
    height: 347px;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: transparent;
    /*width: 18rem;*/
    margin-left: 100px;
    display: none;
    margin-top: 30px;

}






.superposition {
    position: absolute;

    display: inline-block;
    width: 250px;
    height: 250px;
    margin-top: -2px;
    margin-left: 1px;



}

#lab-btn {
    margin-top: -26px;
    margin-left: 35px;
    color: white !important;
}

.icon-image {
    margin-top: 10px;
    margin-left: 5px
}

.superposition div:nth-of-type(2) {
    position: absolute;
    left: 75%;

    width: 50px;
    top: 10px;

}

.field {
    height: 20px;
    width: 180px;
    font-size: 12px;
    box-shadow: 0 8px 10px black;
}

.label-titre {
    color: black;
    font-size: 14px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 15px;
    overflow-wrap: break-word;
    width: 220px;
    margin-top: 5px;
}

.label-titre-firefox {
    color: white;
    font-size: 12px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 15px;
    overflow-wrap: break-word;
    width: 200px
}

.label-prix {
    color: #09548a;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 25px;
    margin-left: 85px;



}

.label-prix-firefox {
    color: black;

    font-size: 12px;

    font-weight: bold;

    font-family: sans-serif;

    margin-top: 15px;

    margin-left: 2px;



}

.label-tel {
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 24px;
    margin-left: 5px;
}

.label-tel-firefox {
    color: black;

    font-size: 12px;

    font-family: sans-serif;

    margin-top: 15px;

    margin-left: -3px;
    padding-left: 1px
}

#error-prix {
    color: red;
    font-size: 14px;
    margin-top: -168px;
    height: 0px;
    position: absolute;

}

.icon-phone {
    margin-top: 10px;
    margin-left: 10px;
}

#icon {
    margin-top: 8px;
    margin-left: 5px
}

.description-section {
    margin-bottom: 0px;
    margin-top: -25px;
    text-align: center;
    background-color: white;
    margin-left: -19px;
    height: 40px;
    width: 250px;
    border: 1px dashed;
}

.card__item {
    width: 270px;
    height: 347px;
}

.atvImg-shadow {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 270px;
    height: 347px;
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.text-prix {

    font-size: 14px;
    font-weight: bolder;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    margin-left: 18px;

}

.alignement {
    display: flex
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    left: 48%;
    margin-top: 20%;
}

.image {
    display: none
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #09548a;
    border-color: #09548a transparent #09548a transparent;
    animation: lds-hourglass 1.2s infinite;
}

.lds-hourglass1 {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 28%;
    margin-top: 20%;
}



.lds-hourglass1:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #09548a;
    border-color: #09548a transparent #09548a transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

#carouselExampleIndicators {
    margin-top: 200px;
    margin-right: 35px;
    border: 2px solid white !important;
    box-shadow: 10px 10px 10px 10px black;
}

/*start*/

.lds-ripple {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.btn3d {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    /**border: 0px;**/
    margin-right: 10px;
    margin-top: 15px;
    height: 33px;
    border-radius: 20px;
}

.btn3d:focus {
    outline: medium none;
    -moz-outline-style: none;
}

.btn3d:active {
    top: 9px;
}



.container2 {
    margin-top: 250px;
    margin-left: 120px;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;

    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
    background: transparent;
}

.b {
    transform: rotateY(60deg) translateZ(250px);
    background: transparent;
}

.c {
    transform: rotateY(120deg) translateZ(250px);
    background: transparent;
}

.d {
    transform: rotateY(180deg) translateZ(250px);
    background: transparent;
}

.e {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
}

.f {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
}

.next,
.prev {
    position: absolute;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    width: 0% ! important;
    height: auto;

}

.next:hover,
.prev:hover {
    color: #000;
}

.next:active,
.prev:active {
    top: 104px;
    box-shadow: 0 1px 0 #999;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
}

.infos {
    margin-top: -250px;
    margin-left: 370px;
}


#label {
    font-weight: bold;
    font-size: 18px;
}

#infos-desc {
    font-size: 18px;
    margin-left: 5px;
}

#infos-prix {
    font-size: 18px;
    margin-left: 10px;
    margin-top: -1px;
}

#infos-tel {
    font-size: 18px;
    margin-left: 10px;
}

#final-img-adwords {
    margin-left: -160px;
}

.swal2-confirm {
    margin-left: 20px
}

.btn-secondary {
    color: #09548a !important;
    border-color: #09548a;
}

/*--thank you pop starts here--*/
.thank-you-pop {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.thank-you-pop img {
    width: 76px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

.thank-you-pop h1 {
    font-size: 42px;
    margin-bottom: 25px;
    color: #5C5C5C;
}

.thank-you-pop p {
    font-size: 20px;
    margin-bottom: 27px;
    color: #5C5C5C;
}

.thank-you-pop h3.cupon-pop {
    font-size: 25px;
    margin-bottom: 40px;
    color: #222;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 2px dashed #222;
    clear: both;
    font-weight: normal;
}

.thank-you-pop h3.cupon-pop span {
    color: #03A9F4;
}

.thank-you-pop a {
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}

.thank-you-pop a i {
    margin-right: 5px;
    color: #fff;
}

#ignismyModal .modal-header {
    border: 0px;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
    margin-left: 200px;
}

.lds-circle>div {
    display: inline-block;
    margin-left: 15%;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #09548a;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 555px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-content1 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 115px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.button-publier {
    border-radius: 20px !important;
    /* margin-top: -180px !important; */
    /* position: absolute; */
    border-color: #09548a;
    color: #09548a;
}