#canvas {
    border: 2px dashed #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}


div.font-select {
    box-shadow: inset 0 -1px 0 #dddddd;
    font-size: 16px;
    cursor: pointer;
}

#block > div.card.white.no-b.paper-card > ngx-dropzone > ngx-dropzone-image-preview > img{
  display: inline-block
}


.blockCreateCreatives{
  width: max-content !important
}

#block > div.card.white.no-b.paper-card > ngx-dropzone > ngx-dropzone-image-preview{
  display: inline-block;
    height: 140px;
    min-height: 140px;
    min-width: 180px;
    max-width: 180px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

.images-item {
    width: 49%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    padding: 3px;
    max-width: 120px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.images-item:hover {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

.images-item-upload {
    width: 80%;
    cursor: pointer;
    padding-bottom: 10px;
}

.images-item-upload:hover {

}

.panel-library .custom-item:last-child {
    margin-bottom: -15px;
}

.custom-item {
    border-top: 1px solid #ddd;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
}

.custom-item:first-child {
    padding-top: 0;
    border-top: 0;
}

.custom-item:last-child {
    padding-bottom: 0;
}

.custom-item .custom-item-title {
    color: #666666;
    font-weight: 600;
}

.custom-item .custom-item-body {
    padding: 10px 0;
    margin-bottom: 15px;
}

.custom-item .custom-item-body .form-control {
    padding: 0;
}

.file-container {
    overflow: hidden;
    position: relative;

}

.file-container [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.max-height {
    overflow: auto;
    max-height: 300px;
}

.input-group-title {
    display: block;
}

.input-group-title > input {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.layer-list {
    min-height: 200px;
    padding: 0;
    overflow-y: scroll;
}

.layer-list .list-group {
    margin-bottom: 0;
}

.layer-list .layer-type, .layer-list .layer-title, .layer-list .layer-visibility-toggle {
    display: inline-block;
}

.layer-list .layer-title {
    position: absolute;
    margin-left: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

.layer-list .list-group-item {
    padding: 5px 10px 5px 5px;
}

.layer-list .list-group-item.active {
    color: white;
    border-color: #26a69a;
    background-color: #26a69a;
}

.layer-list .list-group-item.active .layer-title {
    font-weight: 600;
}

.layer-list .layer-visibility-toggle {
    cursor: pointer;
}

.layer-list .layer-visibility-toggle i.fa-eye-slash {
    opacity: .5;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group.btn-group-disabled {
    opacity: .4;
}

.dnd-drag-start {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    border: 1px dashed #000;
}

.dnd-drag-enter {
    opacity: 0.7;
    border: 1px dashed #000;
}

.dnd-drag-over {
    border: 1px dashed #000;
}

.dnd-sortable-drag {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
    border: 1px dashed #000;
    margin: 5px 0;
}

.panel-palettes ul.list-inline {
    margin-bottom: 0;
}

.panel-palettes ul.list-inline:not(:first-child) {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
}

.color-swatch{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #fff;
}
.color-swatch.selected {
    border: 1px dotted #333;
}


.lds-roller {
  position: relative;
  width: 64px;
  height: 64px;
  margin-left: 40%
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(46, 196, 108);
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.check
{
    opacity:0.5;
	color:rgb(255, 255, 255);
	
}


#body > section > app-root > app-annonces > mat-sidenav-container > mat-sidenav-content > div > div > mat-card.lime.lighten-5.p-0.mat-card > mat-horizontal-stepper > div.mat-horizontal-content-container{
  padding: 0px !important;
}