<!--#navbar-->
<!-- <div class="container-fluid relative animatedParent animateOnce p-0">
  <div class="row d-flex bd-highlight no-gutters">
    <div>
      <div class="p-5">

        <ul class="sidebar-menu">
          <li class="treeview" style="cursor: pointer"><a (click)=" toggleCampaignSettings()"><i
                class="icon icon-settings text-purple s-18"></i>Paramètres de la campagne</a></li>
          <li class="treeview" style="cursor: pointer"><a><i class="icon icon-inbox text-purple s-18"></i>Voir la liste
              des annonces</a></li>
       
          <li class="treeview" style="cursor: pointer"><a (click)="toggleEditor()"><i
                class="icon icon-star-o lime-text s-18"></i>Créer une annonce</a></li>
          <li class="treeview" style="cursor: pointer"><a><i class="icon icon-send-o indigo-text s-18"></i>Voir mes
              annonces</a></li>
          <li class="treeview" style="cursor: pointer"><a (click)="createAdGroup()"><i
                class="icon icon-arrow-left indigo-text s-18"></i>Creer un groupe d'annonce</a></li>


          <li class="treeview" style="cursor: pointer"><a (click)="deleteCampaign()"><i
                class="icon icon-trash-o text-danger s-18"></i>Supprimmer la campagne</a></li>

        </ul>
      </div>
    </div>



   
    <div class="flex-fill b-l height-full white" *ngIf="!isEditor">
      <app-settings [id_campagne]="id_campagne" [id]="id" [name]="name" [status]="status" [ad_group_id]="ad_group_id">
      </app-settings>
    </div>



  </div>

</div> -->
  <!-- <div class="flex-fill b-l height-full white" *ngIf="!isEditor">
      <app-settings [id_campagne]="id_campagne" [id]="id" [name]="name" [status]="status" [ad_group_id]="ad_group_id" [uid]="uid" [budget]="budget" [budgetId]="budgetId" [dailyBudget]="dailyBudget" [numberOfDays]="numberOfDays">
      </app-settings>
    </div> -->
<!-- Right Sidebar -->

<!-- /.right-sidebar -->
<!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
