
<div id="app">

<div class="has-sidebar-tabs">
    <!--navbar-->
   
 <div class="sticky mat-elevation-z4">
        <!-- <div class="navbar navbar-expand d-flex justify-content-between bd-navbar green lighten-3 shadow">
             -->
             <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white" style="height: 70px">
             
                 <!--  <button mat-raised-button color="accent" (click)="sidenav.open()" class="">Menu</button> -->
                
                
                  <img class="d-none d-md-block " src="assets/img/images/newlogo.png" style="width: 15%" (click)="go1()">
                  <img class="d-md-none d-sm-block" src="assets/img/images/newlogo.png" style="width: 35%;" (click)="go1()">
              
            <!--Top Menu Start -->
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <!-- Messages-->
       
        <!-- Notifications -->
        <li  style="margin-top: 8px; cursor: pointer">
            
        </li>
         <li style="margin-top: 3px">
            <a class="nav-link adafri-police-16 font-weight-bold" title="Argent disponible dans votre compte">
                <i class="icon-money-bag"></i> {{accountValue}} CFA
            </a>
        </li>
         <li class="dropdown custom-dropdown notifications-menu" style="margin-top: 5px">
            <a href="#" class=" nav-link" data-toggle="dropdown" aria-expanded="false">
                <i class="icon-notifications_none text-black-50"></i>
                <span class="badge adafri-background badge-mini rounded-circle text-white">{{numberOfNotifications}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="header">Vous avez {{numberOfNotifications}} notification(s)</li>
                <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu no-b">
                        <li class="no-b white text-center">
                           
                              <a href="#" *ngIf="accountValue !==0">
                                <i class="icon icon-data_usage text-danger"></i>Aucune Notification pour le moment 
                            </a>
                           <a class="adafri-police-12 text-danger" *ngIf="accountValue ===0">
                                <i class="icon icon-data_usage text-danger"></i>Votre solde est vide
                            </a> 
                             <!--  <a class="btn btn-sm adafri-background text-white btn-social r-20 d-inline-block adafri-police-12" data-toggle="modal" data-target="#modalRechargement">
                                <i class="icon-payment"></i> Charger mon compte
                              </a> -->
                               <button mat-raised-button class="adafri-background text-white" data-toggle="modal" data-target="#modalRechargement">Charger mon compte</button>
                            
                        </li>
                        <li class="no-b white text-center">
                            
                        </li>
                        <!--  <li class="no-b white text-center" *ngIf="accountValue<10000">
                              <button class="btn btn-sm white border-grey text-black-50 btn-social r-20 d-inline-block" data-toggle="modal" data-target="#modalRechargement">
                                Charger mon compte
                            </button>
                        </li> -->
                
                    </ul>
                </li>
               
            </ul>
        </li>
       

       
        <!-- Right Sidebar Toggle Button -->
       
        <!-- User Account-->
        <li class="dropdown custom-dropdown user user-menu ">
            <a href="#" class="nav-link text-white" data-toggle="dropdown" style="font-size: 12px">
      
                <figure class="avatar">
                  <img [src]='photoURL'>
                </figure>
                                                        
            </a>
            <div class="dropdown-menu p-4 dropdown-menu-right">
                <div class="row box justify-content-between my-4">
                    <div class="col">
                        <a (click)="auth.signOut()">
                            <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                            <div class="pt-1" >Déconnexion</div>
                        </a>
                    </div>
                    <div class="col"><a href="#">
                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                        <div class="pt-1">Profile</div>
                    </a></div>
                   
               </div>
             
            </div>
        </li>
    </ul>
</div>
        </div>
       
    </div>
    <div *ngIf="_addCampaign_" style="position: relative">
        <app-create-campaign></app-create-campaign>
        

    </div>
    
    <!--#navbar-->

   

    <div class="container-fluid pt-5 background-yellow-adafri" *ngIf="_init_campagne">
    
        <div class="height-full paper-card text-center" style="box-shadow: none">
                 <div class="row">
        <div class="col-md-12 background-yellow-adafri text-center">
            <form class="example-form" [formGroup]="campaign" (ngSubmit)="addCampaign()">
                <mat-card class="d-inline-block text-center mat-elevation-z10">
            
                           

                   
                            <img class="img-responsive d-inline-block" style="width: 50%" src="assets/img/init.png">
               
                <mat-card-content>
                    <p class="font-weight-bold text-black">Créer une campagne publicitaire</p>
  <mat-form-field class="example-full-width text-black" >
    <input matInput [(ngModel)]="new_name" placeholder="Nom de la campagne" id="campagne" formControlName="campaign">
  </mat-form-field>

</mat-card-content>
<mat-card-actions class="text-center">
    <p class="text-black-50">{{message_to_show}}</p>
     <mat-progress-bar mode="indeterminate" class="teal" *ngIf="progressBarAddCampaign"></mat-progress-bar>
    <button mat-raised-button class="teal text-white" type="submit" *ngIf="!progressBarAddCampaign">Créer</button>
</mat-card-actions>
</mat-card>
</form>
          
        </div>
                    <!-- <div class="col-md-6  d-md-block d-none text-center">
                        <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><img class="img-responsive d-inline-block" style="width: 50%" src="assets/img/init.png"></mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
            </div> -->
                     
     </div>
        </div>
   
   

  
</div>
   
    <ng-container *ngIf="!showList">
           <!--  <div class="text-center" >
                <div class="card no-b">
                    <div class="card-body no-b text-center">
                        <a class="btn btn-md teal darken-1 text-white r-20 btn-social" (click)="action_2()"><i class="icon-add_to_queue"> Créer une campagne</i></a>
                    </div>
                </div>
            </div> -->
        
        <!-- <h5 style="margin-top: 20px; font-weight: bold">Toutes les camapgnes</h5> -->
    <div class="height-full">

        <note-detail></note-detail>
    </div>
     
    </ng-container>

</div>
<div *ngIf="isCreating">
      <app-spinner-overlay [message]="message"></app-spinner-overlay>

   </div>
<!-- Right Sidebar -->

<!-- /.right-sidebar -->
<!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
                                 <div class="modal fade" id="modalRechargement" tabindex="-1" role="dialog" aria-smallledby="exampleModalsmall"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header white no-b">
        <h5 class="adafri-police-22 adafri" id="exampleModalsmall">Chargement de votre solde</h5>
        <button type="button" class="close" data-dismiss="modal" aria-small="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body white no-b">
        <div class="card no-b white">
          <div class="card-body no-b white">
                      <div class="form-row text-center">
                  <div class="col-md-12 mb-3 text-center">
                    <h6 for="validationCustom01">Montant à recharger</h6>
                    <input type="number" class="form-control text-center d-inline-block" id="montant" placeholder="Montant" min="10000" max="1000000"
                      required>
                      <small class="adafri-police-14 adafri">Saisir un montant supérieur ou égal à 10000 FCA</small>
                      <div id="error_recharge" style="display: none">
                          <p class="text-danger">Eurreur montant saisi invalide !</p>
                      </div>
                  </div>
                        

                </div>
               <!--   <div class="d-flex justify-content-between">
                            <div>
                                <p>
                                    <i class="icon-angle-double-down text-red mr-2"></i><strong class="text-danger">{{number_of_impressions}} Impressions</strong></p>
                                <p class="text-success">
                                <i class="icon-circle-o text-green mr-2 text-infos"></i>Une impression signifie un affichage d'une annonce sur un site</p> 
                            </div>
                            <div>
                               
                            </div>
                        </div> -->
          </div>

          <div class="card-footer white no-b text-center">
            <button type="button" class="btn btn-sm white btn-social text-black-50 r-20 adafri-police-16 border-grey shadow d-inline-block" id="amountSet" (click)="defineAmountAccount()">Recharger mon compte</button>
          </div>
        </div>
      </div>
      <div class="modal-footer white no-b">
        <button type="button" class="btn btn-sm btn-social text-danger white r-20 shadow border-danger" id="closeModalRecharge" data-dismiss="modal">Fermer</button>
      
      </div>
    </div>
  </div>
</div>

<!-- <a class="btn-fab btn-fab-md fab-right fab-right-bottom-fixed shadow text-black-50  btn-social" *ngIf="!_init_campagne" (click)="action_2()" style="background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);  "><img src="assets/img/images/groupe d'annonces.png"></a> -->

<!-- <footer class="white text-center" >
  

  <span class="adafri-police-10 text-black">&copy; Copyright 2019 - Adafri.  All rights reserved.</span>
   <div class="row">
    <div class="col-sm-12 text-center float-right">
         <a href="https://adafri.com/#/terms" class="adafri-police-12 text-black" style="text-decoration: underline">Conditions générales d'utilisations</a>
          <a href="https://adafri.com/#/confidentialite" class="adafri-police-12 text-black" style="text-decoration: underline">Politique de confidentialité</a>
    </div>
    
   </div>
 
   

</footer> -->
 <!-- <footer class="md-padding">
        <div id="btmFooter" flex>
          <p>Basic Footer</p>
        </div>
      </footer> -->


</div>